{% extends 'admin/admin_base.html.twig' %}

{% block title %}Add a Record{% endblock %}

{% block body %}

<div class="team-container__title-box u-margin-bottom-medium">
    <h1 class="team-container__title heading-secondary">Add a Record</h1>
    {% if referer is defined %}
        <a href="{{ referer }}" class="btn btn-default btn--blue">&larr; Go Back</a>
    {% endif %}
</div>

{{ form_start(form, { 'attr': {'class': 'admin-inputs'}}) }}

<div class="admin-inputs__date-input">
    <div class="admin-inputs__date-group">
        {{ form_label(form.approved_date.month, null, {'label_attr': {'class': 'admin-inputs__label'}}) }}
        {{ form_widget(form.approved_date.month, { 'attr': {'class': 'admin-inputs__select-input'}}) }}
    </div>
    <div class="admin-inputs__date-group">
        {{ form_label(form.approved_date.day, null, {'label_attr': {'class': 'admin-inputs__label'}}) }}
        {{ form_widget(form.approved_date.day, { 'attr': {'class': 'admin-inputs__select-input'}}) }}
    </div>
    <div class="admin-inputs__date-group">
        {{ form_label(form.approved_date.year, null, {'label_attr': {'class': 'admin-inputs__label'}}) }}
        {{ form_widget(form.approved_date.year, { 'attr': {'class': 'admin-inputs__select-input'}}) }}
    </div>
</div>

{{ form_label(form.document_url, null, {'label_attr': {'class': 'admin-inputs__label'}}) }}
{{ form_widget(form.document_url, { 'attr': {'class': 'admin-inputs__text-input'}}) }}

{{ form_label(form.managing_entity, null, {'label_attr': {'class': 'admin-inputs__label'}}) }}
{{ form_widget(form.managing_entity, { 'attr': {'class': 'admin-inputs__select-input'}}) }}

<div class="admin-inputs__action-bar u-margin-top-medium">
    <div class="admin-inputs__action-item">
        {% if referer is defined %}
            <a href="{{ referer }}" class="btn btn-default btn--blue">Cancel</a>
        {% endif %}
    </div>
    <div class="admin-inputs__action-item">
        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-default btn--green-solid'} }) }}
    </div>
</div>

{{ form_end(form) }}
{% endblock %}
