<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>UKSGA Admin &mdash; {% block title %}University of Kentucky Student Government Assoication {% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app_admin.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300i,400,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
        <header class="nav-header">
            <figure class="nav-header__logo-container">
                <a href="{{ path('home')}}"><img src="{{ asset('img/logo.jpg') }}" alt="UKSGA Logo" class="nav-header__logo logo--primary"></a>
            </figure>
        </header>

        <div class="container-admin-content">
            <nav class="nav-side">
                <div class="nav-side__profile-container">
                    <img src="https://s3.amazonaws.com/uksga-website-assets/cf76ae72d40b979329540cea06ee6f85.jpeg" alt="Profile image" class="nav-side__profile-image">
                    <div class="nav-side__profile-information">
                        <span class="nav-side__profile-name">{{ app.user.username|title }}</span>
                        <span class="nav-side__profile-role">{% if app.user.roles[0] == 'ROLE_ADMIN' %}Role Admin {% else %}Role User {% endif %}</span>
                    </div>
                </div>
                <ul class="nav-sidebar">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-sidebar__item {% if active_link is defined and active_link == 'manage_team' %} nav-sidebar__item--active {% endif %}">
                            <a href="{{ path('manage_teams') }}" class="nav-sidebar__link">
                                <i class="material-icons nav-sidebar__icon">supervisor_account</i>
                                <span>Manage the Teams</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-sidebar__item {% if active_link is defined and active_link == 'control' %} nav-sidebar__item--active {% endif %}">
                            <a href="{{ path('current_users') }}" class="nav-sidebar__link">
                                <i class="material-icons nav-sidebar__icon">verified_user</i>
                                <span>Users</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-sidebar__item {% if active_link is defined and active_link == 'services' %} nav-sidebar__item--active {% endif %}">
                            <a href="{{ path('current_services') }}" class="nav-sidebar__link">
                                <i class="material-icons nav-sidebar__icon">list_alt</i>
                                <span>Services</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-sidebar__item {% if active_link is defined and active_link == 'records' %} nav-sidebar__item--active {% endif %}">
                            <a href="{{ path('current_records') }}" class="nav-sidebar__link">
                                <i class="material-icons nav-sidebar__icon">assignment</i>
                                <span>Records</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-sidebar__item nav-sidebar__item--logout">
                        <a href="{{ path('logout') }}" class="nav-sidebar__link">
                            <i class="material-icons nav-sidebar__icon">power_settings_new</i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="container-admin-body">
                {% block body %}{% endblock %}
            </div>

        </div>
        
        {# <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <div class="footer__logo">
                            <img src="{{ asset('img/logo_white.png') }}" alt="UKSGA Logo" class="logo--secondary">
                        </div>
                        <p class="contact contact--white u-margin-top-medium">Phone Number</p>
                        <p class="contact contact--white">Address</p>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12">
                        <nav class="nav-footer u-margin-bottom-medium">
                            <ul class="nav-footer">
                                <li class="nav-footer__item"><a href="#" class="nav-footer__link">About Us</a></li>
                                <li class="nav-footer__item"><a href="#" class="nav-footer__link">Funding</a></li>
                                <li class="nav-footer__item"><a href="#" class="nav-footer__link">Constitution</a></li>
                                <li class="nav-footer__item"><a href="#" class="nav-footer__link">Services</a></li>
                                <li class="nav-footer__item"><a href="#" class="nav-footer__link">Branches</a></li>
                            </ul>
                        </nav>
                        <div class="social-container">
                            <a href="#" class="social-container__item">
                                <div class="social-container__logo"><img src="{{ asset('/img/social_facebook.png') }}" alt="Facebook" class="social-container__image"></div>
                            </a>
                            <a href="#" class="social-container__item">
                                <div class="social-container__logo"><img src="{{ asset('/img/social_github.png') }}" alt="Facebook" class="social-container__image"></div>
                            </a>
                            <a href="#" class="social-container__item">
                                <div class="social-container__logo"><img src="{{ asset('/img/social_instagram.png') }}" alt="Facebook" class="social-container__image"></div>
                            </a>
                            <a href="#" class="social-container__item">
                                <div class="social-container__logo"><img src="{{ asset('/img/social_twitter.png') }}" alt="Facebook" class="social-container__image"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copy">
                <span class="footer__copy-text">&copy; 2018 University of Kentucky Student Government Association</span>
            </div>
        </footer> #}

        {% block javascripts %}{% endblock %}
    </body>
</html>
