{% extends 'base.html.twig' %}

{% block title %}Archive{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Archive" />
    <meta property="og:image" content="{{asset('/img/hero_archive.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'archive', 'title': 'Our Archive', 'description': 'By Kentucky Law, we are
required to keep accurate records of all our open-door meetings. This includes our Full Senate meetings and our various Committee Meetings.'}) }}

<main>
    <p class="description">For each entity, the 5 most recent records are listed.</p>
    {% for entity in managingEntities %}
        {% if entity.recentRecords|length != 0 %}
            <article class="record-group">
                <div class="record-group__title-box">
                    <h3 class="record-group__title">{{ entity.name|upper }}</h3>
                </div>
                <div class="record-group__record-box">
                    {% for record in entity.recentRecords %}
                        {{ include('/components/_record.html.twig', {'record': record}) }}
                    {% endfor %}
                </div>
            </article>
        {% endif %}
    {% endfor %}    
    <section class="section">
        <h1 class="heading-primary">Archived Senate Meetings</h1>
        {{ include('components/_legislation.html.twig', {'name': 'Senate Meeting 3.4.20', 'link': 'https://sga-website.s3.us-east-2.amazonaws.com/03_04_2020.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Senate Meeting 2.19.20', 'link': 'https://sga-website.s3.us-east-2.amazonaws.com/02_19_2020.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Senate Meeting 2.5.20', 'link': 'https://sga-website.s3.us-east-2.amazonaws.com/02_05_2020.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Senate Meeting 1.22.20', 'link': 'https://sga-website.s3.us-east-2.amazonaws.com/01_22_2020.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Senate Meeting 12.11.19', 'link': 'https://sga-website.s3.us-east-2.amazonaws.com/12_11_19.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Senate Meeting 11.20.19', 'link': 'https://sga-website.s3.us-east-2.amazonaws.com/11_20_19.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Senate Meeting 10.23.19', 'link': 'https://sga-website.s3.us-east-2.amazonaws.com/10_23_19.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Senate Meeting 10.9.19', 'link': 'https://sga-website.s3.us-east-2.amazonaws.com/10_9_19-2.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Senate Meeting 9.25.19', 'link': 'https://sga-website.s3.us-east-2.amazonaws.com/9_25_19.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Senate Meeting 9.11.19', 'link': 'https://sga-website.s3.us-east-2.amazonaws.com/9-11-19.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Senate Meeting 8.28.19', 'link': 'https://sga-website.s3.us-east-2.amazonaws.com/8-28-19.pdf'}) }}
    </section>
    <section class="section">
        <h1 class="heading-primary">Archived SGA Legislation</h1>
        <p>Inactive Legislation</p>
        {{ include('components/_legislation.html.twig', {'name': 'Appointed Officials Act 3.9.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Appointed+Officials+Act+3.9.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Appropriations Act of 2006', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Appropriations+Act+of+2006+10.17.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Censure and Impeachment Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Censure+and+Impeachment+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Election Procedures and Rules Act 11.20.19', 'link': 'https://sga-website.s3.us-east-2.amazonaws.com/Election+Procedures+and+Rules+Act+11.20.19.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Election Expenditure Act 10.27.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Election+Expenditure+Act+10.27.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Ethics Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Ethics+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Exec Act 4.10.18', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Exec+Act+4.10.18.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Freshman Election Legislation 11.27.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Freshman+Election+Legislation+11-27-17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Initiative and Referendum Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Initiative+and+Referendum+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Judiciary Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Judiciary+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Legislative Procedure Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Legislative+Procedure+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Legislative System Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Legislative+System+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Open Meetings Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Open+Meetings+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'SUNSET ACT OF 2017', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/SUNSET+ACT+OF+2017.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Senate Committee Organization Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Senate+Committee+Organization+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Separation of Powers Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Separation+of+Powers+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Sunshine Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Sunshine+Act+3.29.17.pdf'}) }}
    </section>
</main>
{% endblock %}
