{% extends 'base.html.twig' %}

{% block title %}Legislation{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Legislation" />
    <meta property="og:image" content="{{asset('/img/hero_constitution.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'constitution', 'title': 'Our Legislation', 'description': 'One of the principal 
responsibilities of our organization is to maintain the regulations which govern our behavior, our powers, and our 
 responsibilities. We are constantly revising our legislation in its entirety.'}) }}

<main>
    <section class="section">
        <h1 class="heading-primary">The Legislation Process</h1>
        <p class="description u-margin-bottom-small">
            Our legislation is divided into our Constitution and a number of Acts. The Constitution houses the most
            broad definitions of our responsibilities and powers, while the Acts define specific regulation for a 
            variety of topics.
        </p>
        <p class="description u-margin-bottom-small">
            The Operations and Evaluations committee (O&E) is the primary keeper of our legislation and they are tasked
            with the responsibility of maintaining the Constitution and accompanying Acts to best reflect the needs of
            our dynamic organization. It is through their work that we are able to comply with University standards.
        </p>
        <p class="description u-margin-bottom-small">
            Once O&E makes a change and votes in support of it, the new legislation will go before Full Senate. Any legislativ
            change requires majority vote of Full Senate twice. Changing our legislation is not easy, which allows a stable
            and thoughtful process.
        </p>
        <p class="description u-margin-bottom-small">
            If you have questions, reach out to Taylor at operations@uksga.org.
        </p>
    </section
    >
    <section class="section">
        <h1 class="heading-primary">SGA Legislation</h1>
        {{ include('components/_legislation.html.twig', {'name': 'Constitution 05.12.20', 'link': 'https://sga-website.s3.us-east-2.amazonaws.com/UKSGAConstitution.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Governing Codes 05.12.20', 'link': 'https://sga-website.s3.us-east-2.amazonaws.com/UKSGAGoverningCodes.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Appointed Officials Act 3.9.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Appointed+Officials+Act+3.9.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Appropriations Act of 2006', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Appropriations+Act+of+2006+10.17.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Censure and Impeachment Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Censure+and+Impeachment+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Election Procedures and Rules Act 11.20.19', 'link': 'https://sga-website.s3.us-east-2.amazonaws.com/Election+Procedures+and+Rules+Act+11.20.19.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Election Expenditure Act 10.27.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Election+Expenditure+Act+10.27.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Ethics Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Ethics+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Exec Act 4.10.18', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Exec+Act+4.10.18.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Freshman Election Legislation 11.27.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Freshman+Election+Legislation+11-27-17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Initiative and Referendum Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Initiative+and+Referendum+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Judiciary Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Judiciary+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Legislative Procedure Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Legislative+Procedure+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Legislative System Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Legislative+System+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Open Meetings Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Open+Meetings+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'SUNSET ACT OF 2017', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/SUNSET+ACT+OF+2017.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Senate Committee Organization Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Senate+Committee+Organization+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Separation of Powers Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Separation+of+Powers+Act+3.29.17.pdf'}) }}
        {{ include('components/_legislation.html.twig', {'name': 'Sunshine Act 3.29.17', 'link': 'https://s3.us-east-2.amazonaws.com/sga-website/Sunshine+Act+3.29.17.pdf'}) }}
    </section>
</main>

{% endblock %}
