<article class="service">
    <div class="service__content-container">
        <h2 class="heading-secondary heading-secondary--italic u-margin-bottom-small">{{ service.name}}</h2>
        <p class="service__description description">{{ service.description }}</p>
        <div class="service__contact-container">
            {{ include('team/_team-member-horizontal.html.twig', {'member': service.contact})}}
        </div>
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('delete_service', {'id': service.id}) }}" class="btn btn-default btn--destructive">Delete</a>
        {% endif %}
    </div>
    <figure class="service__image-container">
        <img src="{{ s3_path ~ service.imageUrl }}" alt="Service Photo" class="service__image">
        <figcaption class="service__image-caption">{{ service.imageCaption }}</figcaption>
    </figure>
</article>