
{{ form_start(form, { 'attr': {'class': 'admin-inputs'}}) }}
{{ form_errors(form) }}

{{ form_label(form.name, null, {'label_attr': {'class': 'admin-inputs__label'}}) }}
{{ form_widget(form.name, { 'attr': {'class': 'admin-inputs__text-input', 'placeholder': 'Enter the team name'}}) }}

{{ form_label(form.short_description, null, {'label_attr': {'class': 'admin-inputs__label'}}) }}
{{ form_widget(form.short_description, { 'attr': {'class': 'admin-inputs__text-input', 'placeholder': 'Enter a short description'}}) }}

{{ form_label(form.long_description, null, {'label_attr': {'class': 'admin-inputs__label'}}) }}
{{ form_widget(form.long_description, { 'attr': {'class': 'admin-inputs__text-input', 'placeholder': 'Enter a longer description'}}) }}

<div class="admin-inputs__image-preview-container" id="image-preview-container">
    <img alt="Upload a hero image" class="admin-inputs__image-preview u-margin-bottom-xsmall" id="image-preview">
</div>

{{ include('team/_image-upload-form.html.twig', {'field': form.hero_image}) }}

<div class="admin-inputs__action-bar">
    <div class="admin-inputs__action-item">
    {% if member is defined %}
        <a href="{{ path('deactivate', {'id': member.id}) }}" class="btn btn-default btn-default--centered btn--destructive"><i class="material-icons md-16 centered admin-inputs__icon">delete</i>deactivate</a>
    {% endif %}
    </div>
    <div class="admin-inputs__action-item">
        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-default btn--green-solid'} }) }}
    </div>
</div>

{{ form_end(form) }}