{% extends 'base.html.twig' %}

{% block body %}

<header class="header">
    <div class="header__text-container">
        <h1 class="heading-primary heading-primary--white">
            Welcome
        </h1>
        <p class="description description--white">Student Government Association is here to improve the quality of students' experiences while they are on campus, by listening to them and advocating on their behalf.</p>
       
    </div>
</header>

<main>
    <section class="section">
        <h1 class="heading-primary">About Us</h1>
        <p class="description u-margin-bottom-small">Welcome to our website! We have worked diligently to ensure that all of our resources are accessible to University of Kentucky's student body and we will use this site to aid in that effort. Please, look around and reach out to us if we can do better!</p>
        <p class="description">Student Government is passionate about students. SGA is more than just another student organization, we advocate for the students of the University of Kentucky, here to amplify their voices. We strive to empower students through providing programming, funding, and forums. We are here to support you.</p>
    </section>
    <section class="section">
        <h1 class="heading-primary">Wildcat Wardrobe</h1>
        <p class="description u-margin-bottom-small">The <a class="link" href="https://wildcatwardrobe.shopsettings.com/">Wildcat Wardrobe</a> accepts nearly new, contemporary professional attire in all sizes for men and women. All career appropriate clothing donations MUST be laundered/dry-cleaned and ready to wear <u>on hangers only</u>. <u>No bags or boxes please</u>. <u>Shoes and jewelry can be put in bins</u>. No donations should be in need of repair and <u>no clothing items that haven’t been purchased in the last 5 years</u>. Due to limited space in the Wardrobe, we want to ensure that we are providing college students with contemporary clothing in their pursuits for success. Focusing on these essential items will allow our team to maintain safety while continuing to meet our students changing needs.</p>
        <p class="description u-margin-bottom-small">Donations we are currently in need of: </p>
        <h2 class="heading-secondary">Men's Clothing:</h2>
            <p class="description u-margin-bottom-small">&emsp; Navy, gray, and black suits- sizes 32-42</p>
            <p class="description u-margin-bottom-small">&emsp; Pants- sizes 32W to 42W</p>
            <p class="description u-margin-bottom-small">&emsp; Slim fit suits- all sizes needed</p>
            <p class="description u-margin-bottom-small">&emsp; Smaller sizes in suits</p>
            <p class="description u-margin-bottom-small">&emsp; Khaki pants- all sizes needed</p>
            <p class="description u-margin-bottom-small">&emsp; Navy pants- all sizes needed</p>
            <p class="description u-margin-bottom-small">&emsp; Solid colored ties</p>
            <p class="description u-margin-bottom-small">&emsp; Short-sleeve polo shirts</p>
        <h2 class="heading-secondary">Women's Clothing:</h2>
            <p class="description u-margin-bottom-small">&emsp; Dresses- all sizes needed</p>
            <p class="description u-margin-bottom-small">&emsp; Blouses- all sizes needed</p>
            <p class="description u-margin-bottom-small">&emsp; Pantsuits- all sizes needed</p>
            <p class="description u-margin-bottom-small">&emsp; Petite dress pants</p>
            <p class="description u-margin-bottom-small">&emsp; Dress pants- sizes 0-6</p>
            <p class="description u-margin-bottom-small">&emsp; Heels and flats- new or like new</p>
            <p class="description u-margin-bottom-small">&emsp; Blazers- all sizes</p>
        <p class="description">If you would like to make a donation, please email sga.wardrobe@uky.edu with the date and time you are planning to drop off the clothing. The drop off location is in the Student Government Office, Suite A267 in the Gatton Student Center from 10-5pm Monday-Friday.</p>   
    </section>
    <section class="section">
        <h1 class="heading-primary">Wildcat Comments</h1>
        <p class="description u-margin-bottom-small">The following survey has been created by the University of Kentucky SGA and distributed to UK students in order to better understand how SGA can better serve the UK student population. This form allows you to submit on behalf of an organization or your individual needs. Please visit the <a class="link" href="https://uky.campuslabs.com/engage/submitter/form/start/451123">link</a> to share your concerns.</p>
        <p class="description">If you have any questions about this form, please email sga.outreach@uky.edu</p>
    </section>
    <section class="section">
        <h1 class="heading-primary">Our Services</h1>
        <p class="description">We have a ton of services for students! They touch on just about every aspect of student life. Below are just a few of the awesome things we fund and sponsor. If you want to see more, navigate to the <a class="link" href="{{ path('services') }}">Services</a> tab on our navigation bar!</p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" >
                        <div class="card__image-container">
                            <a href="https://uky.campuslabs.com/engage/submitter/form/start/432225">
                                <img src="{{ asset('/img/card_funding.png') }}" alt="Funding icon" class="card__image">
                            </a>
                        </div>
                        <div class="card__description">
                            <h2 class="heading-secondary">PPE Grant</h2>
                            <p class="description-secondary">Starting this year, UKSGA will be offering a PPE Grant to student organizations needing it in order to give them the ability to adhere to campus and state regulations.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card__image-container">
                            <img src="{{ asset('/img/wildcat_wardrobe.png') }}" alt="Funding icon" class="card__image">
                        </div>
                        <div class="card__description">
                            <h2 class="heading-secondary">Wildcat Wardrobe</h2>
                            <p class="description-secondary">A free career closet that helps to alleviate the burden that comes with acquiring professional attire. Students are allowed to pick out 3 times with their student ID, no questioned asked. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card__image-container">
                            <a href="https://uky.campuslabs.com/engage/submitter/form/step/1?Guid=a58e0efe-cd41-4628-80e4-375c9a25bcc3">
                                <img src="{{ asset('/img/card_constitution.png') }}" alt="Funding icon" class="card__image">
                            </a>
                        </div>
                        <div class="card__description">
                            <h2 class="heading-secondary">Childcare Grants</h2>
                            <p class="description-secondary">Funding made available to full or part-time students to help them pay for daycare or after school programs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card__image-container">
                            <img src="{{ asset('/img/card_resources.png') }}" alt="Funding icon" class="card__image">
                        </div>
                        <div class="card__description">
                            <h2 class="heading-secondary">Scholarships</h2>
                            <p class="description-secondary">Funding given to students to help alleviate the cost of schooling as well as the costs of being an intern. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section u-margin-bottom-large">
        <h1 class="heading-primary u-margin-bottom-large">A Letter from our President</h1>
        <article class="letter">
            <div class="letter__head u-margin-bottom-medium">
                <figure class="letter__logo-container">
                    <img src="{{ asset('/img/logo.jpg') }}" alt="UKSGA Logo" class="letter__logo logo--flex">
                </figure>
                <div class="letter__office">
                    <span class="letter__office-name">Student and Academic Life</span>
                    <span class="letter__office-details">Office of Student Organizations and Activites</span>
                </div>
            </div>
            <p class="letter__content">
                Fellow Students and Campus Community,
                <br><br>
                Welcome to our website and thank you so much for your interest in the University of Kentucky 
                Student Government Association. UKSGA’s mission is to serve each and every student. Our goal 
                is to ensure you are being represented, advocated for, and that you feel the sense of belonging 
                to which every Wildcat deserves. As your elected representatives from across campus, we strive 
                to engage with the student body in order to guarantee the feedback we provide to 
                administrators is not only accurate, but also matches the pulse of campus. 
                <br><br>
                We invite you to explore and utilize our many services during your time as a student. Whether it 
                be the Wildcat Wardrobe, legal services, or our countless number of grant opportunities – we 
                want to make sure you have easy access to the services you are entitled to. 
                <br><br>
                Finally, I encourage you to get involved! We have a great team of passionate leaders, but we can 
                always benefit from new perspectives. Change cannot be made on campus without the tireless 
                work of our student body. Run to be a senator or executive member in our spring general 
                election, apply to be a director or coordinator, or just stay in touch and share with us your 
                passions and/or concerns! 
                <br><br>
                With any additionally questions or concerns feel free to contact us by phone (859-257-3191), by email (SGA.President@uky.edu) or stopping by our office (Gatton Student Center Room A267). 
                <br><br>
                Go Cats, <br>
                Michael Hawse  <br>
                Student Body President <br>
                University of Kentucky '22
            </p>
            <figure class="letter__signature-container u-margin-top-medium">
            <img src="{{ asset('/img/signature-small.png') }}" alt="Michael Hawse Signature" class="letter__signature">
            </figure>
            <div class="letter__footer u-margin-top-large">
                <figure class="letter__footer-logo">
                    <img src="{{ asset('/img/logo.jpg') }}" alt="See Blue logo" class="letter__logo">
                </figure>
                <p class="letter__footer-contact u-margin-top-small">
                Gatton Student Center | 160 Avenue of Champions, Suite A267 | Lexington, KY 
                </p>
                <p class="letter__footer-detail u-margin-top-small">
                An Equal Opportunity University
                </p>
            </div>
        </article>
    </section>
</main> 

{% endblock %}