{% extends 'base.html.twig' %}

{% block body %}

<header class="header">
    <div class="header__text-container">
        <h1 class="heading-primary heading-primary--white">
            Welcome
        </h1>
        <p class="description description--white">Student Government Association is here to improve the quality of students' experiences while they are on campus, by listening to them and advocating on their behalf.</p>
        {% set messages = app.flashes('info') %}
        {% if messages is not empty%}
            {% for message in messages %}
                <p class="description description--white description--callout u-margin-top-large">{{ message }}</p>
            {% endfor %}
        {% else %}
            {{ form_start(form, {'attr': {'class': 'user-inputs'}}) }}
                {{ form_label(form.email) }}
                {{ form_widget(form.email, { 'attr': {'class': 'user-inputs__email', 'placeholder': 'Enter your email'} }) }}
                {{ form_widget(form.save, { 'attr': {'class': 'user-inputs__submit'} }) }}
            {{ form_end(form) }}
        {% endif %}

    </div>
</header>

<main>
    <section class="section">
        <h1 class="heading-primary">About Us</h1>
        <p class="description u-margin-bottom-small">Welcome to our new website! We have worked diligently to ensure that all of our resources are accesible to University of Kentucky's student body and we will use this site to aid in that effort. Please, look around and reach out to us if we can do better!</p>
        <p class="description">Student Government is passionate about students. SGA is more than just another student organization, we advocate for the students of the University of Kentucky, here to amplify their voices. We strive to empower students through providing programming, funding, and forums. We are here to support you.</p>
    </section>
    <section class="section">
        <h1 class="heading-primary">Our Services</h1>
        <p class="description">We have a ton of services for students! They touch on just about every aspect of student life. Below are just a few of the awesome things we fund and sponsor. If you want to see more, navigate to the <a class="link" href="{{ path('services') }}">Services</a> tab on our navigation bar!</p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card__image-container">
                            <img src="{{ asset('img/card_funding.png') }}" alt="Funding icon" class="card__image">
                        </div>
                        <div class="card__description">
                            <h2 class="heading-secondary">Wildcab</h2>
                            <p class="description-secondary">A free taxi service with student drivers that runs from Thursday night to Saturday night while promoting responsible late-night transportation decisions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card__image-container">
                            <img src="{{ asset('img/card_helping.png') }}" alt="Funding icon" class="card__image">
                        </div>
                        <div class="card__description">
                            <h2 class="heading-secondary">Wildcat Wardrobe</h2>
                            <p class="description-secondary">A free career closet that helps to alleviate the burden that comes with acquiring professional attire. Students are allowed to pick out 3 times with their student ID, no questioned asked. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card__image-container">
                            <img src="{{ asset('img/card_constitution.png') }}" alt="Funding icon" class="card__image">
                        </div>
                        <div class="card__description">
                            <h2 class="heading-secondary">Childcare Grants</h2>
                            <p class="description-secondary">Funding made available to full or part-time students to help them pay for daycare or after school programs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card__image-container">
                            <img src="{{ asset('img/card_resources.png') }}" alt="Funding icon" class="card__image">
                        </div>
                        <div class="card__description">
                            <h2 class="heading-secondary">Scholarships</h2>
                            <p class="description-secondary">Funding given to students to help alleviate the cost of schooling as well as the costs of being an intern. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section u-margin-bottom-large">
        <h1 class="heading-primary u-margin-bottom-large">A Letter from our President</h1>
        <article class="letter">
            <div class="letter__head u-margin-bottom-medium">
                <figure class="letter__logo-container">
                    <img src="{{ asset('img/logo.jpg') }}" alt="UKSGA Logo" class="letter__logo logo--flex">
                </figure>
                <div class="letter__office">
                    <span class="letter__office-name">Student and Academic Life</span>
                    <span class="letter__office-details">Office of Student Organizations and Activites</span>
                </div>
            </div>
            <p class="letter__content">
                Wildcats,
                <br><br>
                Thanks for showing an interest in Student Government! First off, please explore our many services and programs and utilize them during your time as a student. From Wildcab to Wildcat Wardrobe, our services address various aspects of the student experience, but they are sure to make life just a little bit easier.
                <br><br>
                Additionally, as your elected representatives, we strive to engage with students as much as possible in order to ensure the feedback we are providing to administrators is accurate and matches the pulse of campus. So, leave feedback here on our site, email us, call us, or best of all, visit us in our office space in Student Center Suite A267 in the Center for Student Involvement!
                Finally, get involved! We have a great team of passionate leaders, but we can always benefit from new perspectives. Run to be a senator or executive member in our general election in the spring, apply to be a director or coordinator, or just stay in touch and talk to us about what you are passionate or concerned about!
                <br><br>
                On, On, UofK,
                <br><br>
                Michael A. Hamilton <br>
                Student Body President <br>
                University of Kentucky
            </p>
            <figure class="letter__signature-container u-margin-top-medium">
            <img src="{{ asset('img/signature-small.png') }}" alt="Michael Hamilton's Signature" class="letter__signature">
            </figure>
            <div class="letter__footer u-margin-top-large">
                <figure class="letter__footer-logo">
                    <img src="{{ asset('img/logo.jpg') }}" alt="See Blue logo" class="letter__logo">
                </figure>
                <p class="letter__footer-contact u-margin-top-small">
                Gatton Student Center | 160 Avenue of Champions, Suite A267 | Lexington, KY 
                </p>
                <p class="letter__footer-detail u-margin-top-small">
                An Equal Opportunity University
                </p>
            </div>
        </article>
    </section>
</main> 

{% endblock %}